$colorBlack: #999;
$colorDisabled: #d4d4d4;
$colorError: #666;

.datepicker,
.Calendar {
  button {
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}

.datepicker {
  position: relative;
  display: inline-block;
  z-index: 10;

  .picket-input {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0.4em 0.8em;
    font-family: inherit;
    text-align: center;
    font-size: 12px;

    &::placeholder {
      color: #979797;
    }
  }

  .picker-calendar-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-style: solid;
    z-index: 10;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }
}

.datepicker-calendar-container.top+.picker-calendar-arrow {
  top: auto;
  bottom: calc(100% + 10px);
  transform: rotate(180deg);
}

.datepicker-calendar-container {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);

  &.top {
    top: auto;
    bottom: calc(100% + 20px);
  }
}

.Calendar,
.Calendar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
}

.Calendar {
  font-size: 10px;
  background: #fff;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
  border-radius: 1em;
  position: relative;
  user-select: none;
  padding-top: 1.2em;
  display: flex;
  flex-direction: column;
  width: 33em;
  z-index: 10;
  max-width: 90vw;
  min-height: 36.7em;

  &.no-focus-outline *:focus {
    outline: none !important;
  }

  .header {
    display: flex;
    color: $colorBlack;
    padding: 2em 2.9em;
    align-items: center;
    overflow: hidden;


    .month-arrow-wrapper {
      line-height: 0;
      font-size: 1em;
      padding: 3px;
      position: relative;
      border: none;
      z-index: 1;
      opacity: 1;
      transition: 0.2s;

      &:focus {
        outline: 1px dashed rgba(0, 0, 0, 0.4);
        outline-offset: 2px;
      }

      &:disabled,
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }

      &-left {
        transform: rotate(90deg);
      }

      &-right {
        transform: rotate(-90deg);
      }

      &:active .month-arrow {
        transform: scale(0.7);
      }

      .month-arrow {
        border-radius: 50%;
        transition: var(--animation-duration) transform;
        pointer-events: none;
        background-repeat: no-repeat;
        display: block;
        width: 1.7em;
        height: 1.7em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23000000'%3E%3Cdefs stroke='none'%3E%3C/defs%3E%3Cpath class='cls-1' d='M12 23.25V.75' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px'%3E%3C/path%3E%3Cpath class='cls-2' d='M22.5 11.25L12 .75 1.5 11.25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-size: 100% 100%;
      }

    }
  }

  .footer {
    position: relative;
    z-index: 1;
  }

  .month-year-container {
    flex: 1;
    position: relative;


    .month-year {
      font-size: 1.6em;
      font-weight: 500;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      will-change: transform, opacity;
      backface-visibility: hidden;
      transform: translateZ(0);
      transition: var(--animation-duration);
      line-height: 1;

      &.hidden-next {
        opacity: 0;
        transform: translateX(50%);
      }

      &.hidden-previous {
        opacity: 0;
        transform: translateX(-150%);
      }

      &.shown {
        opacity: 1;
        margin-top: auto;
        margin-bottom: auto;
        transform: translateX(-50%);
      }

      &.shown-animated {
        animation: var(--animation-duration) fadeTextToCenter forwards;
      }

      &>* {
        padding: 0.2em 0.5em;
        border: 1px solid transparent;
        transition: var(--animation-duration);
        font-size: 1.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0) scale(0.95);
        will-change: transform;
        border-radius: 5px;
      }

      &:not(.shown)>*,
      &>*.hidden {
        cursor: default;
        pointer-events: none;
      }

      .year-text {
        &:last-child {
          margin-right: -0.3em;
        }

        &:hover {
          transform: translateX(0.2em) scale(0.95);
        }

        &.hidden {
          transform: translateX(50%);
          opacity: 0;
        }
      }

      .month-text {
        margin-left: -0.3em;

        &:hover {
          transform: translateX(-0.2em) scale(0.95);
        }

        &.hidden {
          transform: translateX(-50%);
          opacity: 0;
        }
      }

      &:not(.shown)>* {
        pointer-events: none;
      }

      &.shown>*:hover,
      &>*.activeBackground {
        background: #f5f5f5;
      }
    }
  }

  &:not(.no-focus-outline) .month-year.shown>*:focus {
    background: #f5f5f5;
  }

  .month-selector-animation-wrapper,
  .year-selector-animation-wrapper {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .month-selector-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}











.month-selector,
.year-selector {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  background-color: #fff;
  transform: translateY(-150%);
  will-change: transform;
  transition: 0.6s;
  height: 100%;
}

.month-selector {
  padding: 0 2.5em;
  align-content: center;
  padding-bottom: 2em;

  .month-selector-item {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;

    &:not(:nth-child(-n + 3)) {
      margin-top: 2em;
    }

    .month-selector-item-text {
      border: none;
      padding: 0.4em 0.4em;
      border-radius: 8.5px;
      font-size: 1.3em;
      min-width: 70%;
      transition: 0.3s;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }

    &:not(.active) .month-selector-item-text:not(:disabled):hover {
      background: #f5f5f5;
    }

    &.active .month-selector-item-text {
      background-color: #03aed2;
      color: #fff;
    }
  }
}


.year-selector-wrapper {
  width: 100%;
  height: 100%;

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 5em;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.2s;
  }

  &::after {
    background-image: linear-gradient(to bottom, #fff, #fff 10%, rgba(245, 245, 245, 0));
    top: -0.1em;
  }

  &::before {
    background-image: linear-gradient(to top, #fff, #fff 10%, rgba(245, 245, 245, 0));
    bottom: 0;
  }

  &.faded {

    &::after,
    &::before {
      opacity: 1;
      z-index: 3;
    }
  }

  .year-selector {
    align-content: flex-start;
    scrollbar-width: 0;
    overflow: scroll;
    position: relative;
    width: 100%;
    padding: 5em 2em;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .year-selector-item {
      width: 25%;
      display: flex;
      justify-content: center;

      &:not(:nth-child(-n + 4)) {
        margin-top: 1.5em;
      }

      &:not(.active) .year-selector-text:not(:disabled):hover {
        background: #f5f5f5;
      }

      &.active .year-selector-text {
        background-color: #03aed2;
        color: #fff;
      }
    }

  }
}





.year-selector-text {
  border: none;
  font-size: 1.4em;
  min-width: 85%;
  padding: 0.2em 0.5em;
  border-radius: 8.5px;
}

.month-selector.open,
.year-selector.open {
  transform: translateY(0);
}

.year-selector-text:focus,
.month-selector-item-text:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
}

.year-selector-text:disabled {
  opacity: 0.5;
  cursor: default;
}


.week-days {
  display: flex;
  justify-content: space-between;
  color: $colorDisabled;
  font-size: 1.2em;
  margin-bottom: 0.7em;
  padding: 0 2.6em;
  position: relative;

  abbr {
    display: block;
    width: calc(100% / 7);
    text-align: center;
    text-decoration: none;
  }
}

.section-wrapper {
  position: relative;
  min-height: 25.8em;
  overflow: hidden;


  .section {
    display: flex;
    flex-direction: column;
    padding: 0 3.2em;
    position: absolute;
    color: $colorBlack;
    top: 0;
    padding-top: 0.5em;
    left: 0;
    width: 100%;
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: var(--animation-duration);

    &.hidden-previous {
      opacity: 0.5;
      transform: translateX(-90%);
    }

    &.hidden-next {
      opacity: 0.5;
      transform: translateX(90%);
    }

    &.shown {
      opacity: 1;
      transform: translateX(0);
    }

    &.shown-animated {
      animation: var(--animation-duration) FadeContentToCenter forwards;
    }


    .week-row {
      display: flex;
      width: 100%;


      .day {
        display: block;
        width: calc(100% / 7);
        text-align: center;
        padding: calc(0.25em - 1px) 0;
        font-size: 1.6em;
        border-radius: 50%;
        transition: 0.2s;
        border: 1px solid transparent;
        margin-bottom: 0.3em;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 2.6em;
        font-size: 1.45em;

        &:focus {
          outline: 1px dashed rgba(0, 0, 0, 0.4);
          outline-offset: 2px;
        }

        &:not(.blank):not(.selectedStart):not(.selectedEnd):not(.selectedBetween):not(.selected):hover {
          background: #eaeaea;
          border-radius: 50%;
          color: $colorBlack;
          border-color: transparent;
        }

        &.selected,
        &.selectedStart,
        &.selectedEnd {
          background: #03aed2;
          color: #fff;
        }

        &.selected {
          border-radius: 50%;
        }

        &.selectedStart {
          border-radius: 0;
          border-top-left-radius: 100em;
          border-bottom-left-radius: 100em;
        }

        &.selectedBetween {
          background: #cff4d5;
          color: #03aed2;
          border-radius: 0;
        }

        &.selectedEnd {
          border-top-right-radius: 100em;
          border-bottom-right-radius: 100em;
        }


        &.weekend {
          &:not(.selected):not(.blank):not(.selectedStart):not(.selectedEnd):not(.selectedBetween) {
            color: $colorError;
          }

          &.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
            background: $colorError;
          }
        }

        &.disabled {
          color: $colorDisabled !important;
          background: transparent !important;
          cursor: default !important;
        }

        &.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween) {
          font-weight: 600;
          color: $colorBlack;
          color: #000;
          position: relative;
        }

        &.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
          content: '';
          position: absolute;
          bottom: 0.2em;
          display: block;
          width: 0.6em;
          height: 1px;
          background: #000;
          left: 50%;
          opacity: 0.5;
          transform: translateX(-50%);
          transition: 0.2s;
        }

        &.today:hover:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
          opacity: 0;
        }

        &.blank {
          color: transparent;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

@keyframes fadeTextToCenter {
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes FadeContentToCenter {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}