.datepicker button,
.Calendar button {
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

.datepicker {
  position: relative;
  display: inline-block;
  z-index: 10; }
  .datepicker .picket-input {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0.4em 0.8em;
    font-family: inherit;
    text-align: center;
    font-size: 12px; }
    .datepicker .picket-input::placeholder {
      color: #979797; }
  .datepicker .picker-calendar-arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-style: solid;
    z-index: 10;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent; }

.datepicker-calendar-container.top + .picker-calendar-arrow {
  top: auto;
  bottom: calc(100% + 10px);
  transform: rotate(180deg); }

.datepicker-calendar-container {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%); }
  .datepicker-calendar-container.top {
    top: auto;
    bottom: calc(100% + 20px); }

.Calendar,
.Calendar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr; }

.Calendar {
  font-size: 10px;
  background: #fff;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
  border-radius: 1em;
  position: relative;
  user-select: none;
  padding-top: 1.2em;
  display: flex;
  flex-direction: column;
  width: 33em;
  z-index: 10;
  max-width: 90vw;
  min-height: 36.7em; }
  .Calendar.no-focus-outline *:focus {
    outline: none !important; }
  .Calendar .header {
    display: flex;
    color: #999;
    padding: 2em 2.9em;
    align-items: center;
    overflow: hidden; }
    .Calendar .header .month-arrow-wrapper {
      line-height: 0;
      font-size: 1em;
      padding: 3px;
      position: relative;
      border: none;
      z-index: 1;
      opacity: 1;
      transition: 0.2s; }
      .Calendar .header .month-arrow-wrapper:focus {
        outline: 1px dashed rgba(0, 0, 0, 0.4);
        outline-offset: 2px; }
      .Calendar .header .month-arrow-wrapper:disabled, .Calendar .header .month-arrow-wrapper.hidden {
        opacity: 0;
        pointer-events: none; }
      .Calendar .header .month-arrow-wrapper.left {
        transform: rotate(90deg); }
      .Calendar .header .month-arrow-wrapper.right {
        transform: rotate(-90deg); }
      .Calendar .header .month-arrow-wrapper:active .month-arrow {
        transform: scale(0.7); }
      .Calendar .header .month-arrow-wrapper .month-arrow {
        border-radius: 50%;
        transition: var(--animation-duration) transform;
        pointer-events: none;
        background-repeat: no-repeat;
        display: block;
        width: 1.7em;
        height: 1.7em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23000000'%3E%3Cdefs stroke='none'%3E%3C/defs%3E%3Cpath class='cls-1' d='M12 23.25V.75' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px'%3E%3C/path%3E%3Cpath class='cls-2' d='M22.5 11.25L12 .75 1.5 11.25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-size: 100% 100%; }
  .Calendar .footer {
    position: relative;
    z-index: 1; }
  .Calendar .month-year-container {
    flex: 1;
    position: relative; }
    .Calendar .month-year-container .month-year {
      font-size: 1.6em;
      font-weight: 500;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      will-change: transform, opacity;
      backface-visibility: hidden;
      transform: translateZ(0);
      transition: var(--animation-duration);
      line-height: 1; }
      .Calendar .month-year-container .month-year.hidden-next {
        opacity: 0;
        transform: translateX(50%); }
      .Calendar .month-year-container .month-year.hidden-previous {
        opacity: 0;
        transform: translateX(-150%); }
      .Calendar .month-year-container .month-year.shown {
        opacity: 1;
        margin-top: auto;
        margin-bottom: auto;
        transform: translateX(-50%); }
      .Calendar .month-year-container .month-year.shown-animated {
        animation: var(--animation-duration) fadeTextToCenter forwards; }
      .Calendar .month-year-container .month-year > * {
        padding: 0.2em 0.5em;
        border: 1px solid transparent;
        transition: var(--animation-duration);
        font-size: 1.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0) scale(0.95);
        will-change: transform;
        border-radius: 5px; }
      .Calendar .month-year-container .month-year:not(.shown) > *,
      .Calendar .month-year-container .month-year > *.hidden {
        cursor: default;
        pointer-events: none; }
      .Calendar .month-year-container .month-year .year-text:last-child {
        margin-right: -0.3em; }
      .Calendar .month-year-container .month-year .year-text:hover {
        transform: translateX(0.2em) scale(0.95); }
      .Calendar .month-year-container .month-year .year-text.hidden {
        transform: translateX(50%);
        opacity: 0; }
      .Calendar .month-year-container .month-year .month-text {
        margin-left: -0.3em; }
        .Calendar .month-year-container .month-year .month-text:hover {
          transform: translateX(-0.2em) scale(0.95); }
        .Calendar .month-year-container .month-year .month-text.hidden {
          transform: translateX(-50%);
          opacity: 0; }
      .Calendar .month-year-container .month-year:not(.shown) > * {
        pointer-events: none; }
      .Calendar .month-year-container .month-year.shown > *:hover,
      .Calendar .month-year-container .month-year > *.activeBackground {
        background: #f5f5f5; }
  .Calendar:not(.no-focus-outline) .month-year.shown > *:focus {
    background: #f5f5f5; }
  .Calendar .month-selector-animation-wrapper,
  .Calendar .year-selector-animation-wrapper {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .Calendar .month-selector-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.month-selector,
.year-selector {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  background-color: #fff;
  transform: translateY(-150%);
  will-change: transform;
  transition: 0.6s;
  height: 100%; }

.month-selector {
  padding: 0 2.5em;
  align-content: center;
  padding-bottom: 2em; }
  .month-selector .month-selector-item {
    width: calc(100% / 3);
    display: flex;
    justify-content: center; }
    .month-selector .month-selector-item:not(:nth-child(-n + 3)) {
      margin-top: 2em; }
    .month-selector .month-selector-item .month-selector-item-text {
      border: none;
      padding: 0.4em 0.4em;
      border-radius: 8.5px;
      font-size: 1.3em;
      min-width: 70%;
      transition: 0.3s; }
      .month-selector .month-selector-item .month-selector-item-text:disabled {
        opacity: 0.5;
        cursor: default; }
    .month-selector .month-selector-item:not(.active) .month-selector-item-text:not(:disabled):hover {
      background: #f5f5f5; }
    .month-selector .month-selector-item.active .month-selector-item-text {
      background-color: #03aed2;
      color: #fff; }

.year-selector-wrapper {
  width: 100%;
  height: 100%; }
  .year-selector-wrapper::after, .year-selector-wrapper::before {
    content: '';
    width: 100%;
    height: 5em;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.2s; }
  .year-selector-wrapper::after {
    background-image: linear-gradient(to bottom, #fff, #fff 10%, rgba(245, 245, 245, 0));
    top: -0.1em; }
  .year-selector-wrapper::before {
    background-image: linear-gradient(to top, #fff, #fff 10%, rgba(245, 245, 245, 0));
    bottom: 0; }
  .year-selector-wrapper.faded::after, .year-selector-wrapper.faded::before {
    opacity: 1;
    z-index: 3; }
  .year-selector-wrapper .year-selector {
    align-content: flex-start;
    scrollbar-width: 0;
    overflow: scroll;
    position: relative;
    width: 100%;
    padding: 5em 2em;
    -ms-overflow-style: none; }
    .year-selector-wrapper .year-selector::-webkit-scrollbar {
      display: none; }
    .year-selector-wrapper .year-selector .year-selector-item {
      width: 25%;
      display: flex;
      justify-content: center; }
      .year-selector-wrapper .year-selector .year-selector-item:not(:nth-child(-n + 4)) {
        margin-top: 1.5em; }
      .year-selector-wrapper .year-selector .year-selector-item:not(.active) .year-selector-text:not(:disabled):hover {
        background: #f5f5f5; }
      .year-selector-wrapper .year-selector .year-selector-item.active .year-selector-text {
        background-color: #03aed2;
        color: #fff; }

.year-selector-text {
  border: none;
  font-size: 1.4em;
  min-width: 85%;
  padding: 0.2em 0.5em;
  border-radius: 8.5px; }

.month-selector.open,
.year-selector.open {
  transform: translateY(0); }

.year-selector-text:focus,
.month-selector-item-text:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: 2px; }

.year-selector-text:disabled {
  opacity: 0.5;
  cursor: default; }

.week-days {
  display: flex;
  justify-content: space-between;
  color: #d4d4d4;
  font-size: 1.2em;
  margin-bottom: 0.7em;
  padding: 0 2.6em;
  position: relative; }
  .week-days abbr {
    display: block;
    width: calc(100% / 7);
    text-align: center;
    text-decoration: none; }

.section-wrapper {
  position: relative;
  min-height: 25.8em;
  overflow: hidden; }
  .section-wrapper .section {
    display: flex;
    flex-direction: column;
    padding: 0 3.2em;
    position: absolute;
    color: #999;
    top: 0;
    padding-top: 0.5em;
    left: 0;
    width: 100%;
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: var(--animation-duration); }
    .section-wrapper .section.hidden-previous {
      opacity: 0.5;
      transform: translateX(-90%); }
    .section-wrapper .section.hidden-next {
      opacity: 0.5;
      transform: translateX(90%); }
    .section-wrapper .section.shown {
      opacity: 1;
      transform: translateX(0); }
    .section-wrapper .section.shown-animated {
      animation: var(--animation-duration) FadeContentToCenter forwards; }
    .section-wrapper .section .week-row {
      display: flex;
      width: 100%; }
      .section-wrapper .section .week-row .day {
        display: block;
        width: calc(100% / 7);
        text-align: center;
        padding: calc(0.25em - 1px) 0;
        font-size: 1.6em;
        border-radius: 50%;
        transition: 0.2s;
        border: 1px solid transparent;
        margin-bottom: 0.3em;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 2.6em;
        font-size: 1.45em; }
        .section-wrapper .section .week-row .day:focus {
          outline: 1px dashed rgba(0, 0, 0, 0.4);
          outline-offset: 2px; }
        .section-wrapper .section .week-row .day:not(.blank):not(.selectedStart):not(.selectedEnd):not(.selectedBetween):not(.selected):hover {
          background: #eaeaea;
          border-radius: 50%;
          color: #999;
          border-color: transparent; }
        .section-wrapper .section .week-row .day.selected, .section-wrapper .section .week-row .day.selectedStart, .section-wrapper .section .week-row .day.selectedEnd {
          background: #03aed2;
          color: #fff; }
        .section-wrapper .section .week-row .day.selected {
          border-radius: 50%; }
        .section-wrapper .section .week-row .day.selectedStart {
          border-radius: 0;
          border-top-left-radius: 100em;
          border-bottom-left-radius: 100em; }
        .section-wrapper .section .week-row .day.selectedBetween {
          background: #cff4d5;
          color: #03aed2;
          border-radius: 0; }
        .section-wrapper .section .week-row .day.selectedEnd {
          border-top-right-radius: 100em;
          border-bottom-right-radius: 100em; }
        .section-wrapper .section .week-row .day.weekend:not(.selected):not(.blank):not(.selectedStart):not(.selectedEnd):not(.selectedBetween) {
          color: #666; }
        .section-wrapper .section .week-row .day.weekend.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
          background: #666; }
        .section-wrapper .section .week-row .day.disabled {
          color: #d4d4d4 !important;
          background: transparent !important;
          cursor: default !important; }
        .section-wrapper .section .week-row .day.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween) {
          font-weight: 600;
          color: #999;
          color: #000;
          position: relative; }
        .section-wrapper .section .week-row .day.today:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
          content: '';
          position: absolute;
          bottom: 0.2em;
          display: block;
          width: 0.6em;
          height: 1px;
          background: #000;
          left: 50%;
          opacity: 0.5;
          transform: translateX(-50%);
          transition: 0.2s; }
        .section-wrapper .section .week-row .day.today:hover:not(.selectedStart):not(.selectedEnd):not(.selectedBetween)::after {
          opacity: 0; }
        .section-wrapper .section .week-row .day.blank {
          color: transparent;
          cursor: default;
          pointer-events: none; }

@keyframes fadeTextToCenter {
  to {
    opacity: 1;
    transform: translateX(-50%); } }

@keyframes FadeContentToCenter {
  to {
    opacity: 1;
    transform: translateX(0); } }
