* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  height: 100%;
}

body {
  background: #fbfbfb;
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.divisao {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #ddd;
}

:root {
  --animation-duration: 200ms;
}
